/* blog */
#blog{
  text-align: left;
}
.blogBox{
  width:46rem;
  height:117rem;
  padding-top:4rem;
  margin:0 auto;
  position:relative;
  padding-bottom:4rem;
}
.blogBox>li{
  width:22rem;
  height:22rem;
  text-align: left;
  box-shadow: 5px 11px 30px rgba(0,0,0,0.3);
  border-radius: 10px;
  background:#fff;
  position:absolute;
  transition:.1s ease-in-out;
}
.date{
    border-radius: 10px;
}
.box>li:hover{
    transform:translateY(-10px);
    box-shadow: 5px 11px 30px rgba(0,0,0,0.8);
}
.blogBox>li:nth-child(1){
    top:4rem;
    left:0;
}
.blogBox>li:nth-child(2){
    top:4rem;
    right:0;
}
.blogBox>li:nth-child(3){
    top:28rem;
    left:0;
}
.blogBox>li:nth-child(4){
    top:28rem;
    right:0;
}
.blogBox>li:nth-child(5){
    top:52rem;
    left:0;
}
.blogBox>li:nth-child(6){
    top:52rem;
    right:0;
}
.blogBox>li:nth-child(7){
    top:76rem;
    left:0;
    margin-bottom: 3rem;
}
.blogBox>li:nth-child(8){
    top:76rem;
    right:0;
    margin-bottom: 3rem;
}
.blogBox>li:nth-child(9){
    top:100rem;
    left:0;
    margin-bottom: 3rem;
}
.date>dt{
    padding:4rem 1rem;
    font-size:0.95rem;
    font-weight: bold;
}
.date>dd{
    height:11rem;
    padding-bottom:1rem;
    border-radius:0 0 10px 10px;
    overflow: hidden;
}
/* mobile css */
.blogMBox{
    width:22rem;
    padding-top:4rem;
    margin:2rem auto 5rem;
    position:relative;
  }
  .blogMBox>li{
    width:22rem;
    height:22rem;
    text-align: left;
    box-shadow: 5px 11px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    background:#fff;
  }
.blogMBox>li:not(:first-child){
    margin-top:5rem;
}