.Container{
  width:90%;
  margin:0 auto;
  padding-top:3rem;
  display:flex;
  justify-content: space-evenly;
}
.card{
  width:40%;
  margin:0 auto;
  background-color: #131361;
  color:#fff;
  border-radius: 15px;
}
.title{
  padding-top:3rem;
  padding-bottom:5rem;
  text-align:center;
  font-size:30px;
  font-weight:bold;
  white-space:pre;
}
.card>dd{
  padding:1rem;
  margin-top:1rem;
}
.desc{
  width:40%;
  margin:0 auto;
  position:relative;
  border:5px solid #ccc;
  border-radius:15px;
}
.desc li{
  padding:1rem;
}
.desc li:last-child{
  text-align:right;
}

/* 모바일 사이즈 css */

.MContainer>.card{
  width:80%;
  margin-bottom:1rem;
}
.Ttitle{
  padding-top:3rem;
  padding-bottom:8rem;
  text-align:center;
  font-weight:bold;
  white-space:pre;
  font-size:40px;
}
.Mtitle{
  padding-top:3rem;
  padding-bottom:8rem;
  text-align:center;
  font-weight:bold;
  white-space:pre;
  font-size:30px;
}
.MContainer>.desc{
  width:80%;
}