.skills_title{
    font-weight:bold;
    font-size:1.2rem;
    margin-bottom:.5rem;
}
.skills_container{
    width:45%;
    margin:1rem auto;
}
.skills_mobile{
    width:80%;
    margin:3rem auto;
}
.skill_container_pc{
    display: flex;
}
.skill_container_mobile{
    width:100%;
}
@keyframes rotateY {
    0%{
        transform:rotateY(0);
    }
    50%{
        transform:rotateY(180deg);
    }
    100%{
        transform:rotateY();
    }
}

.icon{
    width:4rem;
    box-sizing: border-box;
}
.skill_name{
    font-weight:bold;
    font-size:1.3rem;
    color:#fff;
    position:absolute;
    bottom:.5rem;
    left:1rem;
}
