.study_container{
    padding-top:3rem;
}
.study_item_container{
    width:80%;
    margin:2rem auto;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 15px;
    align-items: center;
}
.study_item{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131361;
    box-sizing: border-box;
    padding:2rem 0;
    color:#fff;
}
.study_item>img{
    width:5rem;
    padding-bottom:1rem;
}
.flex{
    display: flex;
}
.item_pc{
    width:200px;
    border-radius: 15px 0 0 15px;
}
.item_mobile{
    border-radius: 15px 15px 0 0;
}
/* academy Item style */

.academy_item{
    width:10rem;
}
.content_item{
    margin-left:2rem;
    padding:2rem 0;
}
.content_item:not(:first-child){
    margin-left: 5rem;
}
.container_mobile{
    width:50%;
    margin:0 auto;
}
.container_pc{
    width:100%;
    margin:0 auto;
}
/* youtube Item Style */
.youtube_item{
    width:4rem;
    border-radius:100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}
.youtube_item>img{
    padding-top:.2rem;
}
.youtubeName{
    margin-top:1rem;
    text-align: center;
}
.youtube_flex{
    display:flex;
}
.youtube_block{
    display:block;
}
/* academy Items style */

.academy_item{
    width:10rem;
}