
.flex{
    display: flex;
}
.item_pc{
    width:200px;
    border-radius: 15px 0 0 15px;
}
.study_container>li:last-child>p>img{
    padding:0 10rem 1rem;
}
.item_mobile{
    border-radius: 15px 15px 0 0;
}
.container_mobile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.br_block{
    display:block;
}
.br_none{
    display:none;
}
.next_btn{
    right:25%;
}
.prev_btn{
    left:25%;
}
.transition{
    transition: .3s ease-in-out;
}

.inf_item{
    width:40rem;
    padding:1rem;
}