*{
  padding:0;
  margin:0;
}
ul,li,a{
  text-decoration: none;
  list-style: none;
  color:inherit;
}
img{
  width:100%;
}
.PcContainer{
  display:flex;
  margin-top:5rem;
}
.MContainer{
  margin-top:5rem;
}
h2{
  font-size: 1px;
  line-height: 1px;
  visibility: hidden;
  display: none;
}
button{
  border:none;
  background-color:transparent;
  cursor: pointer;
}
/* header */

.black{
  background-color: #000;
  color:#fff;
}
.transparent{
  background-color: transparent;
  color:#000;
}


.active{
  background-color: #131361;
  padding:.3rem;
  border-radius: 10px;
  color:#ffffff;
}
.black .active{
  background-color: #2e2e8d;
  padding:.3rem;
  border-radius: 10px;
  color:#ffffff;
}

/* 인트로 디자인 css  */
.pcWrap{
  margin:5rem auto;
display:flex;
justify-content:space-evenly;
box-sizing: border-box;
text-align:center;
}
.MWrap{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:5rem auto 0;
  box-sizing: border-box;
  text-align:center;
}

/* 내가 본 웹사이트 css */
.websiteStyle{
  width:45%;
padding:.5rem;
margin:0 auto;
text-align:center;
}
.MwebsiteStyle{
padding:.5rem;
margin:0 auto;
text-align:center;
}