*{
  padding:0;
  margin:0;
}
ul,li,a{
  text-decoration: none;
  list-style: none;
  color:inherit;
}
img{
  width:100%;
}
/* header */

header{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: 1000;
  padding: 0.5rem;
  transition:.2s ease-in-out;
}
.black{
  background-color: #000;
  color:#fff;
}
.transparent{
  background-color: transparent;
  color:#000;
}
h1{
  font-size:1.5rem;
  float:left;
  cursor: pointer;
}
.nav{
  padding-top:.5rem;
  display: inline-block;
  padding-left:2rem;
}
.nav_item{
  padding:.3rem;
  text-align: center;
  border-radius: 10px;
  font-size:1rem;
}
.transparent .active{
  /* background-color:#7878ff; */
  background-color: #131361;
  padding:.3rem;
  border-radius: 10px;
  color:#ffffff;
}
.black .active{
  background-color: #2e2e8d;
  padding:.3rem;
  border-radius: 10px;
  color:#ffffff;
}
.nav_item:not(:last-child){
  margin-right:1rem;
  padding:.3rem;
  border-radius: 10px;
}
.subNav_container{
  display:none;
}