*{
  padding:0;
  margin:0;
}
ul,li,a{
  text-decoration: none;
  list-style: none;
  color:inherit;
}
img{
  width:100%;
}
.contents{
  display:flex;
  margin-top:5rem;
}
/* header */

.black{
  background-color: #000;
  color:#fff;
}
.transparent{
  background-color: transparent;
  color:#000;
}


.transparent .active{
  /* background-color:#7878ff; */
  background-color: #131361;
  padding:.3rem;
  border-radius: 10px;
  color:#ffffff;
}
.black .active{
  background-color: #2e2e8d;
  padding:.3rem;
  border-radius: 10px;
  color:#ffffff;
}